# /etc/cron.d/coderedpanda

# Not working by default MAILTO="jake@coderedpanda.com"

# Joplin Backup
2 * * * * jake PATH=$PATH:/usr/local/bin ; /usr/local/coderedpanda/bin/backup-joplin.sh >> /var/log/coderedpanda/backup-joplin.log 2>&1

# MBP13 Backup
12 15 * * * jake /usr/local/coderedpanda/bin/backup-mbp13.sh >> /var/log/coderedpanda/backup-mbp13.log 2>&1

# Dropbox Backup
22 */6 * * * jake /usr/local/coderedpanda/bin/backup-dropbox.sh >> /var/log/coderedpanda/backup-dropbox.log 2>&1

# Alfred Snippets Sync
32 * * * * jake /usr/local/coderedpanda/bin/sync-alfred-snippets.sh >> /var/log/coderedpanda/sync-alfred-snippets.log 2>&1
